In [23]:
    s=''
    def romanToInt(s):
        value = {
            'I': 1,
            'V': 5,
            'X': 10, 
            'L': 50,
            'C': 100,
            'D': 500,
            'M': 1000
        }
        res=0 
        for i in range(len(s)):
            if i+1 <len(s) and value[s[i]] < value[s[i+1]]:
                res -= value[s[i]]
            else:
                res += value[s[i]]
        return res

In [24]:
s='MCXI'
romanToInt(s)

1111

In [25]:
import pandas as pd

In [35]:
data = {'x': [1.1,2.8,3.4], 'y': [1.1,1.123,1.369]}
df = pd.DataFrame(data)

In [38]:
for i in range(2,16): 
    colname = 'x_%d'%i 
    df[colname] = list(map(lambda x:pow(x,i),df['x']))

In [39]:
df.head()

,x,y,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,x_12,x_13,x_14,x_15
0,1.1,1.100,1.21,1.331,1.4641,1.61051,1.771561,1.948717,2.143589,2.357948,2.593742,2.853117,3.138428e+00,3.452271e+00,3.797498e+00,4.177248e+00
1,2.8,1.123,7.84,21.952,61.4656,172.10368,481.890304,1349.292851,3778.019983,10578.455953,29619.676670,82935.094675,2.322183e+05,6.502111e+05,1.820591e+06,5.097655e+06
2,3.4,1.369,11.56,39.304,133.6336,454.35424,1544.804416,5252.335014,17857.939049,60716.992766,206437.775406,701888.436380,2.386421e+06,8.113830e+06,2.758702e+07,9.379588e+07